* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
  p{
        font-size: 1.25rem !important;

  }

}
body{
  max-width: 100vw;
}

a{
  text-decoration: none;
  color: black;
}

.auth-page {
  background: url("./assets/Background-Animation.jpg");
  background-size: auto  100%;
  padding: 10vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.logo {
  text-align: center;
}
.logo img {
  width: 100px; /* Smaller logo */
  height: auto;
  opacity: 1;
}

.card {
  width: 60vw;
  background: linear-gradient(
    178.22deg,
    rgba(255, 255, 255, 0.8) -5.77%,
    rgba(255, 255, 255, 0.4) 108.08%
  );
  border-radius: 25px;
  border: 1px solid #d8d8d8;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.heading {
  text-align: center;
}

.heading .title {
  font-size: 20px; /* Smaller title */
  font-weight: 500;
  color: #161c2b;
}

.heading .title span {
  color: #5b576f;
  font-weight: 400;
}

.heading p {
  padding: 20px 40px;
  font-size: 1.25rem; /* Smaller paragraph */
  color: #898989;
  line-height: 1.5em;
}

/* Buttons section */  
.auth-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;  
  align-items: center;
}

.button-46 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #fff;
  border: 1px solid #d8d8d8;
  border-radius: 10px;
  cursor: pointer;
  height: 38px;
  flex: 1 1 220px;
  max-width: 150px;
  transition: all 0.2s;
  font-size: 9px; 
  padding: 0.7em 1em;
}

svg{
  width: 15px;
}

.button-46:hover {
  background-color: #ffffff;
  border-color: rgba(0, 0, 0, 0.19);
}

.divider {
  width: 100%;
  text-align: center;
  position: relative;
  margin: 1.5em 0;
}

.divider::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 40%;
  height: 1px;
  background: #e7e8e9;
  
  z-index: 1;
}
.divider::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 40%;
  height: 1px;
  background: #e7e8e9;
  
  z-index: 1;
}

.divider span {
  position: relative;
  padding: 0.3em 1.2em;
  border-radius: 50px;
  font-size: 12px;
  z-index: 2;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}

.login-form form {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}

.login-form label {
  font-size: 12px;
  color: #333;
}

.login-form input[type="email"],
.login-form input[type="password"] {
  padding: 14px 1em;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 12px;
  width: 100%;
}

.password-input {
  position: relative;
}

.password-input .eye-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.action-submit {
  display: flex;
  justify-content: center;
}

.login-btn {
  background: #1e60db;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 12px; /* Smaller login button text */
  margin-top: 1em;
  width: 180px; /* Smaller button */
  height: 44px;
  border-radius: 50px;
  padding: 10px 16px;
}

.login-btn:hover {
  background: #305fd0;
}

.create-account {
  text-align: center;
  margin-top: 1em;
  font-size: 11px;
  color: #5b576f;
  font-weight: 400;
}

.create-account a {
  color: #041c4a;
  text-decoration: none;
  font-weight: 500;
}

.create-account a:hover {
  color: #041c4a;
}
